.image-adder-item
  position: relative
  background-color: #000000
  display: inline-block
  height: 110px
  width: 110px
  overflow: hidden
  margin: 5px 10px 5px 0
  background-size: cover
  background-position: top
  cursor: pointer
  img
    transition: opacity 0.2s ease-in-out
  &:hover
    img
      opacity: 0.7
.remove-image-adder-item
  position: absolute
  right: 5px
  top: 5px
  color: rgba(255, 255, 255, 0.7)
  cursor: pointer
  transition: all 0.1s ease-in-out
  &:hover
    color: rgba(255, 255, 255, 1)