input.form-control
  border: none
  border-bottom: 2px solid #E9EBED
  border-radius: 0
  &:focus
    box-shadow: none
.form-container
  margin: 10px 0
  background-color: #fff
  padding: 40px
  border: 1px solid #e6e6e6
#regPhoto
  font-size: 11px
  margin-top: 3px
.rerender
  border: 1px solid #e6e6e6
  padding: 10px
  background-color: #ffffff
  margin-bottom: 10px
.error-message
  color: #dc3545
  width: 100%
  margin-top: 0.25rem
  font-size: 80%
  padding: 0 5px
.avatar-middle
  height: 100px
  width: 100px
  border-radius: 50%
