.avatar-middle-news
  height: 50px
  width: 50px
  border-radius: 50%
.posts
  padding-top: 20px
.post
  background-color: #e6e6e6
  padding-bottom: 15px
  margin-bottom: 20px
.post-header
  padding: 10px 0
  .avatar
    display: inline-block
.post-header-name
  font-weight: 700
.post-header-time
  font-size: 12px
.post-text-block
  white-space: pre-wrap
  font-size: 14px
.post-image-block
  padding-top: 1px
  overflow: hidden
  max-height: 700px
  border: 1px solid #e6e6e6
  cursor: pointer
  img
    width: 100%
    position: relative


