ul
  list-style-type: none
  padding: 0
  margin: 0
a:link
  text-decoration: none
  &:hover
    text-decoration: none
  &:focus
    text-decoration: none

.sidebar.col-2
  background-color: #ffffff
  min-height: calc(100vh - 50px)
  border-right: 2px solid #E9EBED
.sidebar-icon
  color: #4469b0
.sidebar-menu
  li
    padding: 10px 10px
    color: #000000
    &:hover
      background-color: #f2f6fa
  li.active
    background-color: #6490b1
    color: #ffffff
    .sidebar-icon
      color: #ffffff
.content
  background-color: #fafafa
.avatar-small
  height: 25px
  width: 25px
  display: inline-block
  border-radius: 50%
