.gallery
  border: 1px solid #e6e6e6
  margin-top: 15px
.gallery-header
  background-color: #f2f6fa
  font-weight: 700
  font-size: 20px
  padding: 10px
  .btn-light
    border: 1px solid #dbdbdb
.gallery-content
  min-width: 900px
  background-color: #fff
  padding: 7.55px
  padding-bottom: 0
  .gallery-item
    background-color: #000
    background-position: top
    background-size: cover
    width: 249px
    height: 249px
    margin-right: 7.55px
    margin-bottom: 7.55px
    border: 1px solid #e6e6e6
    position: relative
    cursor: pointer
    overflow: hidden
    .horizontal
     height: 100%
    .vertical
      width: 100%
    img
      transition: opacity 0.2s ease-in-out
    &:hover
      img
        opacity: 0.7
    .remove-image-btn
      color: #ffffff
      position: absolute
      right: 5px
      top: 5px
      &:hover
          opacity: 0.7
    &:nth-child(4n)
      margin-right: 0